* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  max-width: 1570px;
  padding: 0 15px;
  margin: auto;
}
:root {
  --black: #000;
  --blue: #2b7bc6;
  --dark_blue: #004c93;
  --light_blue: #1061ab;
  --yellow: #ffd600;
  --indigo: #3bb9b8;
  --mont: "Montserrat";
}
body {
  background: #e1eefb;
  font-family: var(--mont);
  font-weight: 500;
  color: var(--black);
}
/* header */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0 15px;
}
.location {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--blue);
  border-bottom: 2px dashed var(--blue);
  font-size: 14px;
  line-height: 17px;
}
.phone {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--blue);
  font-size: 14px;
  line-height: 17px;
  border-bottom: 2px dashed var(--blue);
}
.nav_list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav_link {
  color: var(--blue);
  font-size: 14px;
  line-height: 17px;
}
.span {
  display: flex;
  align-items: center;
  gap: 5px;
}
.span span {
  font-size: 21px;
  line-height: 26px;
  color: var(--black);
}
.menu_bar {
  display: grid;
  grid-template-columns: 300px 120px 140px 745px 240px;
  padding: 25px 15px;
}
.bar {
  background: var(--dark_blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 25px;
}
.bar_title {
  color: #fbfaf9;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15em;
  font-family: var(--mont);
}
.bar:nth-of-type(2) {
  background: var(--light_blue);
}
.bar:nth-of-type(3) {
  background: var(--blue);
}
.inp {
  position: relative;
  border: none;
  padding: 20px 500px 20px 25px;
  font-family: var(--mont);
  font-weight: 600;
  outline: none;
}
.search {
  display: flex;
}
.search button {
  background: #ffffff;
  border: none;
  padding-right: 25px;
}
.client {
  background: #f1f8ff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
/* header */
